.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding: 20px 0px;
}
.footer__icon {
  display: flex;
  gap: 30px;
}
.footer__icon img {
  transition: 0.3s;
}
.footer__icon img:hover {
  transform: scale(1.5);
}